.aboutme-container {
    padding-left : 5rem;
    padding-right : 5rem;
}
.skill-icon {
    width : 3rem;
}
.skill-icon:hover {
    cursor: pointer;
}
.list-item {
    font-weight : bold;
    margin : 1rem;
    list-style: none;
    padding : 3px 6px;
    border-radius : 5px;
}
.list-container {
    background-color : whitesmoke;
}
.aboutme-intro {
   
}
.aboutme-skills {
    
}